body{
    background-image: url("https://i.pinimg.com/originals/dc/35/53/dc3553485540badceb5f59ee201a0c1c.png");
}
#quote-box{
    margin-left: 36%;
    margin-right: 36%;
    padding-top: 10px;
    padding-bottom: 15px;
    background:  #3277E3;
    border-radius: 10%;
    border: black solid 2px;
    box-shadow: 5px 5px black;
}
img{
    width: 250px;
    height: 310px;
}
#text{
    padding-top: 10px;
    margin-bottom: -2px;
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}
#author{
    font-size: 15px;
}
#new-quote{
    margin-top: 20px;
}
#title{
    font-family: 'Nunito', sans-serif;
    background: black;
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#div-grid{
    display: grid;
    justify-content: center;
}
#button-container{
    display: flex;
    justify-content: center;
}
button{
    margin-left: 10px;
}

@media only screen and (max-width : 1366px) {
    img{
        width: 200px;
        height: 220px;
    }
    #text{
        padding-top: 10px;
        margin-bottom: -2px;
        font-size: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    #author{
        font-size: 13px;
    }
    }

    @media only screen and (max-width : 900px) {
        #quote-box{
            margin-left: 10%;
            margin-right: 10%;
        }
        #title{
            margin-left: 10%;
            margin-right: 10%;
        }
    }